<div class="wrapper">
  <!-- Navbar -->
  <nav class="main-header navbar navbar-expand" [class.navbar-dark]="darkModeEnabled" [class.navbar-light]="!darkModeEnabled">
    <!-- Left navbar links -->
    <ul class="navbar-nav">
      <li class="nav-item"> <!--{{ stimulus_target('page', 'sideMenuToggler') }}-->
        <a class="nav-link" href="javascript:void(0)" role="button" (click)="toggleSideMenu()" #sideMenuToggle>
          <i class="fas fa-bars"></i>
        </a>
      </li>
      <app-top-menu />
    </ul>
  </nav>
  <!-- /.navbar -->

  <!-- Main Sidebar Container -->
  <aside class="main-sidebar sidebar-dark-primary elevation-4" #sideMenu>
    <!-- Brand Logo -->
    <a routerLink="/" class="brand-link">
      <span class="brand-text font-weight-light">{{appTitle}} <small class="tiny">{{"app.version" | transloco:{appVersion: appVersion} }}</small></span>
    </a>

    <!-- Sidebar -->
    <div class="sidebar">
      <!-- Sidebar user (optional) -->
      <app-left-menu-user-panel />

      <!-- Sidebar Menu -->
      <nav class="mt-2">
        <app-left-menu />
      </nav>
      <!-- /.sidebar-menu -->
    </div>
    <!-- /.sidebar -->
  </aside>

  <!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
      <div class="container-fluid">
        <div class="row mb-2">
          <div class="col-sm-6">
            <h1>{{title()}}</h1>
          </div>
        </div>
      </div><!-- /.container-fluid -->
    </section>

    <!-- Main content -->
    <section class="content">
      <div class="container-fluid">
        <div class="row">
          <div class="col-md-12">
            <app-notification
              *ngFor="let message of notifications()"
              [kind]="message.type"
              [message]="message.message"
            ></app-notification>
          </div>
          <router-outlet></router-outlet>
        </div>
        <!-- /.row -->
      </div><!-- /.container-fluid -->
    </section>
    <!-- /.content -->
  </div>
  <!-- /.content-wrapper -->
  <footer class="main-footer">
    <app-footer />
  </footer>
</div>
